.resume {
  width: 1200px;
  border: 1px solid black;
  text-align: center;
  background-color: rgb(218, 224, 128);
  margin: 10px auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}


