#container {
 display: flex; 
}

main {
  
  text-align: justify;
}

h2 {
  text-align: center;
}

p {
  text-indent: 30px;
}

header {
  background-image: url(header.png);
  background-size: cover;
  height: 200px;
}

h1 {
  text-align: center;
}

#letter {
  background-color: rgb(218, 224, 128);
  border: 1px solid blue;
  font-size: 18px;
  font-family: 'Times New Roman';
  color: blue;
}

footer {
  background-image: url(footer.png);
  background-size: cover;
  height: 200px;
}